@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color_black: #222222;
	--color_white: #ffffff;
	--main-color: #009f7f;
	--body-background: #f8f8f8;
	--theme-color: #0da487;
	--del-color: #dfdfdf;
	--button-background: #e0e0e0;
	--body-background-active: #ffa53b;
}
/* common  */
.heading_h2 {
	font-size: 1.75rem;
	text-transform: uppercase;
	margin-bottom: 1em;
}

body {
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
.text-balance {
	text-wrap: balance;
}
}

/* common */
.container {
	max-width: 1220px;
	padding: 0 10px;
}
/* heading */
.sec_heading {
	position: relative;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 15px 0;
	font-weight: bold;
	margin-bottom: 1.5em;
}
.sec_heading:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 4px;
	background-color: var(--theme-color);
}
.product_heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 30px;
}
.product_heading .readmore a {
	display: flex;
	align-items: center;
	gap: 0 10px;
	height: 100%;
	color: var(--theme-color);
	font-weight: bold;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-size: 0.8rem;
	transition: gap 0.3s ease-in-out;
}
.product_heading .readmore a:hover {
	gap: 0 5px;
}
/* product list */
.product_list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 20px 10px;
}
.product_list > li  {
	width: calc((100% - 40px) / 5);
}
.product_list.list_col3 > li  {
	width: calc((100% - 20px) / 3);
}
.product_box {
	border: 1px solid #ececec;
    border-radius: 8px;
    padding: 15px;
    position: relative;
	height: 100%;
}
.product_box .product_image {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
.product_box .product_image img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	height: 200px;
}
.product_detail h3 {
	font-size: 1rem;
	text-transform: capitalize;
	margin-bottom: 10px;
}
.product_price .price {
	margin-bottom: 15px;
	font-size: 0.9rem;
}
.product_discount {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 4px;
	font-size: 0.875rem;
	background-color: var(--theme-color);
	color: #ffffff;
	font-weight: bold;
	min-width: 50px;
	border-radius: 4px;
	text-align: center;
}
.price .price_new {
	color: var(--theme-color);
	font-weight: bold;
}
.price del {
	color: var(--del-color);
	margin-right: 10px;
}
.price_unit {
	color: #ffa53b;
	font-size: 0.875rem;
	margin-bottom: 10px;
}
.addtocart_btn button {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background-color: var(--theme-color);
	color: var(--color_white);
	padding: 5px;
	font-weight: bold;
	gap: 0 10px;
	text-transform: capitalize;
	font-size: 1rem;
}
/* product_cate */
.article_product_cate {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 30px;
}
.article_product_cate .product_cate_list {
	flex: 1;
}
.article_product_cate .aside_prodcuct_cate {
	width: 280px;
}
.aside_prodcuct_cate .aside_image img {
	border-radius: 8px;
}
/* product_cart */
.product_cart  {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--theme-color);
	color: var(--color_white);
	border-radius: 8px 0 0 8px;
	padding: 10px;
	width: 120px;
	display: flex;
	min-height: 120px;
	flex-direction: column;
	font-weight: bold;
}
.product_cart .cart_number {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	text-transform: capitalize;
}
.product_cart .cart_price {
	background-color: var(--color_white);
	border-radius: 8px;
	padding: 8px;
	color: var(--theme-color);
}
.cart_heading {
	display: flex;
	flex-wrap: wrap;
	gap: 0 15px;
	font-size: 1.5rem;
	color: var(--theme-color);
	border-bottom: 3px dashed var(--theme-color);
	padding: 10px 0;
	align-items: center;
	font-weight: bold;
	text-transform: uppercase;
}
.cart_nodata {
	font-size: 8rem;
	color: var(--theme-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.cart_checkout {
	width: 100%;
}
.cart_checkout a {
	position: relative;
	background-color: var(--theme-color);
	color: var(--color_white);
	font-weight: bold;
	border-radius: 30px;
	display: flex;
	width: 100%;
	min-height: 40px;
	align-items: center;
	padding: 10px 20px;
	text-transform: uppercase;
	justify-content: space-between;
	margin-top: 2em;
}
.cart_checkout span {
	background-color: var(--color_white);
	color: var(--theme-color);
	border-radius: 30px;
	padding: 8px;
	min-width: 80px;
	text-align: center;
}
.cart_item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0 10px;
}
.cart_item .cart_image {
	width: 50px;
}
.cart_item .cart_info {
	flex: 1;
	display: flex;
	gap: 0 10px;
}
.cart_item .cart_name {
	color: var(--color_black);
	font-weight: bold;
	font-size: 1.2rem;
}
.cart_item .cart_price {
	color: var(--theme-color);
	font-weight: bold;
}
.cart_button {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	margin-top: 20px;
	padding-right: 30px;
}
.cart_button_quantity {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--button-background);
	color: var(--color_black);
	padding: 5px 10px;
	gap: 0 5px;
	border-radius: 30px;
	min-height: 30px;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
	font-weight: bold;
}
.cart_button_quantity button {
	min-width: 60px;
}
.quantity_input {
	background-color: var(--button-background);
	color: var(--color_black);
	display: inline-block;
	width: 30px;
	height: auto;
	border: 0;
	outline: 0;
	text-align: center;
}
.cart_button_delete button {
	font-size: 1.2rem;
	color: red;
}
.cart_list li {
	padding: 20px 0;
	border-bottom: 1px dotted var(--theme-color);
}
.cart_list li:last-child {
	border-bottom: 0;
}
.cart_item_checkout {
	justify-content: space-around;
	gap: 0 15px;
}
.cart_item_checkout .cart_button {
	margin: 0;
}
.cart_item_checkout .cart_button_quantity {
	background-color: transparent;
	color: inherit;
	border-radius: 0;
	min-height: auto;
	padding: 0;
	color: var(--theme-color);
}
.cart_item_checkout .cart_button_quantity span {
	padding: 0 30px 0 5px;
}
.cart_item_checkout .cart_button_delete {
	margin-top: 5px;
}
.table_result {
	width: 100%;
	border-top: 1px solid var(--color_white);
}
.table_result tr {
	border-bottom: 1px solid var(--color_white);
}
.table_result th{
	text-align: left;
	width: 50%;
	padding: 20px 10px;
}
.table_result td {
	padding: 20px 10px;
	color: var(--theme-color);
	font-weight: bold;
}
.table_result .total {
	background-color: var(--color_white);
	border-radius: 30px;
	padding: 8px 20px;
}
/* product_box_detail */
.sec_product_cate {
	padding: 80px 0;
	overflow: hidden;
}
.product_box_detail {
	border: 0;
	border-radius: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	height: auto;
	width: 100%;
	overflow: hidden;
}
.product_box_detail .product_image {
	width: 60%;
	height: auto;
	text-align: center;
	background-color: var(--body-background);
	padding: 2em;
	border-radius: 8px;
	margin-bottom: 0;
}
.product_box_detail .product_image img {
	width: auto;
	height: auto;
	margin: 0 auto;
	box-shadow: 0 15px 35px 0px rgba(0, 0, 0, 0.2)
}
.product_box_detail .product_detail {
	flex: 1;
	background-color: var(--body-background);
	padding: 20px 40px;
	border-radius: 8px;
}
.product_box_detail .product_discount {
	position: relative;
	left: auto;
	top: auto;
	display: block;
	min-width: auto;
	background-color: transparent;
	color: var(--color_black);
	text-align: left;
}
.product_box_detail .product_detail h3 {
	color: var(--theme-color);
	font-size: 1.5rem;
	font-weight: bold;
}
.product_box_detail  .product_image img {
	text-align: center;
}
.product_box_detail .addtocart_btn,
.product_box_detail .cart_button_quantity {
	margin-top: 30px;
	max-width: 180px;
}
.product_description {
	margin-top: 40px;
}
.product_description .ant-tabs-tab {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--theme-color);
}
/* common button  */
.btn_home,
.btn_active {
	display: inline-flex;
	color: var(--color_white);
	background-color: var(--theme-color);
	padding: 5px 10px;
	min-height: 40px;
	width: 220px;
	text-transform: uppercase;
	border-radius: 8px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	gap: 0 10px;
}
.btn_active {
	background-color: var(--body-background-active);
}
/* box_checkout */
.sec_checkout {
	padding: 80px 0;
}
.box_checkout {
	display: flex;
	flex-wrap: wrap;
	gap: 0 30px;
}
.box_checkout .article_use {
	flex: 1;
	background-color: var(--body-background);
	border-radius: 8px;
	padding: 20px;
}
.box_checkout .article_cart {
	width: 40%;
	background-color: var(--body-background);
	border-radius: 8px;
	padding: 20px;
}
/* form_order */
.form_order input[type="text"],
.form_order textarea {
	border: 1px solid var(--body-background);
	padding: 8px 12px;
	border-radius: 8px;
	width: 100%;
	min-height: 40px;
	display: block;
}
.form_order .input_group {
	flex-wrap: wrap;
}
.form_order .input_item p {
	color: red;
	font-size: 0.8rem;
	padding: 5px 0;
}
.form_order .ant-radio-wrapper {
	background-color: var(--color_white);
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 1em;
	cursor: pointer;
	width: 100%;
}
/* widget_filter */
.widget_filter {
	background-color: var(--body-background);
	padding: 10px 15px 20px;
	border-radius: 8px;
}
.widget_filter h3 {
	position: relative;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 15px 0;
	font-weight: bold;
	margin-bottom: 1.5em;
}
.widget_filter h3:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 4px;
	background-color: var(--theme-color);
}
/* product_sort */
.product_sort {
	display: flex;
	flex-wrap: wrap;
	gap: 0 30px;
	margin: 1.5em 0;
	vertical-align: middle;
}
.product_sort p {
	color: var(--theme-color);
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 5px;
}
/* Header */
.header_wrap  {
	padding: 20px 0;
	border-bottom: 1px solid var(--del-color);
}
.header_inner {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0 30px;
}
.header_logo {
	font-size: 2rem;
	font-weight: bold;
}
.header_logo::first-letter {
	color: var(--theme-color);
}
.header_nav {
	display: flex;
	flex-wrap: wrap;
	gap: 0 15px;
	align-items: center;
}
.header_nav li {
	padding: 5px 10px;
}
.header_nav li a {
	display: flex;
	flex-wrap: wrap;
	color: var(--theme-color);
	font-weight: bold;
	font-size: 1.5rem;
}
.header_icon_cart a {
	position: relative;
	padding: 15px 10px 0 0;
}
.header_icon_cart a span {
	position: absolute;
	display: inline-block;
	top: 0;
	left: 18px;
	font-size: 0.8rem;
	background-color: var(--body-background-active);
	color: var(--color_white);
	border-radius: 4px;
	width: 20px;
	height: 20px;
	text-align: center;
}
.register_name {
	position: relative;
	display: flex;
	color: var(--theme-color);
	font-weight: bold;
	align-items: center;
	gap: 0 5px;
	font-size: 1rem;
	cursor: pointer;
	top: 4px;
}
.register_name svg {
	font-size: 2rem;
}
.popover_user button {
	padding: 16px 10px;
    display: flex;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    border: 0;
    box-shadow: none;
    height: auto;
    border-radius: 0;
    font-size: 112.5%;
	border-bottom: 1px dashed var(--theme-color);
	flex-wrap: wrap;
	gap: 0 10px;
	justify-content: flex-start;
}
.popover_user button:last-child {
	border-bottom: 0;
}
.header_navi_right {
	display: flex;
	flex-wrap: wrap;
	gap: 0 10px;
}
.select_navi {
	position: relative;
	color: var(--theme-color);
	font-weight: bold;
	width: 220px;
	border: 2px solid var(--theme-color);
	border-radius: 8px;
	padding: 5px 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.select_navi option {
	color: var(--color_black);
	font-weight: bold;
}
.header_icon_register {
	padding: 5px 10px 0 0;
}
.header_icon_register button {
	font-size: 1.5rem;
	color: var(--theme-color);
}
.popover_link {
	display: block;
	padding: 10px 15px;
	border-top: 1px solid var(--del-color);
	font-weight: bold;
}
.popover_link:first-child {
	border-top: 0;
}
/* sec_banner */
.sec_banner {
	padding: 60px 0 0;
}
.sec_banner .banner_item {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	height: 250px;
}
.banner_item .banner_img img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.banner_item .banner_title {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	color: var(--color_white);
	font-size: 2rem;
	font-weight: bold;
	background-color: var(--theme-color);
	opacity: 0.8;
	padding: 10px 20px;
	border-radius: 0 8px 8px 0;
	min-width: 400px;
	min-height: 100px;
	display: flex;
	align-items: center;
}
/* login */
.sec_login {
	padding: 80px 0;
}
.login_wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 0 30px;
}
.login_wrap .login_image {
	flex: 1;
}
.login_wrap .login_box {
	width: 30%;
	background-color: var(--body-background);
	color: var(--color_black);
	padding: 40px 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.login_box .login_title {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 40px;
}
.login_box .login_title span {
	display: block;
	color: var(--theme-color);
	font-size: 1rem;
	padding-top: 10px;
}
.login_form input {
	min-height: 30px;
	padding: 8px 16px;
}
.signup_box {
	border-top: 2px solid var(--del-color);
	margin-top: 40px;
	padding-top: 40px;
	text-align: center;
}
.signup_box a {
	color: var(--theme-color);
	display: block;
}
@layer base {
  :root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
  .dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}
@layer base {
  * {
    @apply border-border;
	}
  body {
    @apply bg-background text-foreground;
	}
}

